body {
    margin: 20px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    height: 100vh;
    overflow: hidden;
}

.editor-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #282A36;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
}

.header button {
    border: 1px solid transparent;
    color: white;
    padding: 0.6em 1.2em;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    border-radius: 8px;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out; /* Transición suave del efecto de pulsación */
    display: flex;
    align-items: center;
}

.header button:active{
    transform: scale(0.9); /* Reduce ligeramente el tamaño del botón cuando se hace clic */
}

#clearButton{
    background-color: #1a1a1a;
}

#clearButton:hover{
    background-color: #1e1e1e;
}

#openButton{
    background-color: #007bff;
}

#openButton:hover{
    background-color: #0b7dda;
}

#saveButton{
    background-color: #17a2b8;
}

#saveButton:hover{
    background-color: #1d9ca7;
}

#erroresButton{
    background-color: #1a1a1a;
}

#erroresButton:hover{
    background-color: #e68a00;
}

#simbolosButton{
    background-color: #1a1a1a;
}

#simbolosButton:hover{
    background-color: #ff9800;
}

#runButton{
    background-color: #5cb85c;
    margin-left: auto;
}

#runButton:hover {
    background-color: #4cae4c;
}

.material-symbols-outlined { /* Iconos de Material Design */
    font-variation-settings:
    'FILL' 0,
    'wght' 1000,
    'GRAD' 0,
    'opsz' 25
}

.main {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.editor {
    flex: 1.3; /* tamaño de cada uno, más; mayor tamaño*/
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #282A36;
    box-sizing: border-box;
    margin-bottom: 40px;
    margin-right: 15px;
}

.console {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #282A36;
    box-sizing: border-box;
    margin-bottom: 40px;
}

#textEditor, #textConsole {
    margin-left: 20px;
}

.CodeMirror {
    height: 100%;
    width: 100%;
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.3;
    flex: 1;
    overflow: auto;
    box-sizing: border-box;
    padding-left: 10px;
}

.CoodeMirror-scroll{
    height: 100%;
    overflow: auto; /* Hace que el contenido se desplace si es necesario */
    box-sizing: border-box;
}

.errores {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #f44336;
    padding: 0.6em 1.2em;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 195px;
    z-index: 1;
}

.dropdown-content button {
    padding: 0.6em 1.2em;
    font-size: 1em;
    border: none;
    cursor: pointer;
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #da190b;
}